@mixin box {
	background: $bm-white;
	border-radius: 8px;
	box-shadow: 0px 0px  10px rgba(0,0,0,0.05); 
}

.main-background {
	background-color: $bm-backgrount;
	padding-bottom: 30px;
}

.bm-possibilities{
	font-family: "proxima nova regular",sans-serif;
	padding: 50px 0 20px;
	&-box {
		@include box;
		padding: 20px 35px 0;
	}
	&-img {
		width: 40px;
		height: 40px;
		color: $bm-btn-dark-blue;
	}
	p{
		font-size: 14px;
		line-height: 19px;
		padding-left: 20px;
	}
	@media screen and (max-width: 991px) {
		padding-top: 20px;
	}
}

// technology

.bm-technology {
	&-box {
		@include box;
		padding: 30px 10px;
		margin-bottom: 20px;
	}
	&-text-link {
		color: $bm-text-link;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		margin-bottom: 21px;
		a {
			color: $bm-btn-dark-blue;
			border-bottom: 1px dashed $bm-btn-dark-blue;
			font-family: "proxima nova semibold", sans-serif;
			&:hover {
				color:darken($bm-btn-dark-blue, 5%);
				transition: all 0.15s;
				text-decoration: none;
				border-bottom: 1px solid $bm-btn-dark-blue;
			}
		}
	}
	&-text {
		font-size: 14px;
		line-height: 16px;
	}
}
.bm-technology-img {
	width: 14px;
	height: 14px;
	color: $bm-btn-dark-blue;
}
.bm-technology-row{
	padding-bottom: 15px;
	@media screen and (max-width: 991px) {
		div {
			text-align: center !important;
		}
	}
}
.bm-technology{
	&-info-link {
		color: $bm-dark-grey;
		font-family: "proxima nova semibold", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 14px;
		&:hover {
			color: $bm-dark-grey;
			text-decoration: none;
		}
	}
	&_show-card {
		color: $bm-btn-dark-blue;
		font-family: "proxima nova semibold", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 14px;
		&-img {
			width: 6px;
			height: 10px;
			margin-left: 5px;
		}
		&:hover {
			text-decoration: none;
			span{
				transition: color 0.15s;
				color:darken($bm-btn-dark-blue, 5%);	
				text-decoration: underline;
			}
			[clip-path="url(#la)"]{
				fill: red;
			}
		}
	}
}

// send block

.bm-send_box {
	@include box;
	margin-bottom: 20px;
	min-height: 200px;
	position: relative;
	p{
		color: $bm-text-link;
		font-size: 13px;
		line-height: 18px;
		max-height: 115px;
		overflow: auto;
	}
	&-link {
		color: $bm-btn-dark-blue;
		font-family: "proxima nova semibold", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 14px;
		position: absolute;
		bottom: 30px;
		&:hover{
			text-decoration: none;
			span {
				color:darken($bm-btn-dark-blue, 5%);
				transition: color 0.15s;
				text-decoration: underline;
			}
		}
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
.bm-send_box-left {
	padding: 25px 0 15px 35px;
	min-width: 230px;
}
@media screen and (max-width: 1155px) {
	.bm-send_box-left {
		padding: 20px 0 30px 17px;
		min-width: 190px;
	}
	.bm-send_box-link {
		bottom: 15px;
	}
	.bm-send_box-wrapper {
		margin: auto; 
	}
}


// SERVICE

.bm-service{
	&_box-img {
		height: 500px;
		width: 100%;
		@media screen and (max-width: 991px) {
			height: 300px;
		}
	}
	padding: 75px 0 90px;

	@media screen and (max-width: 991px) {
		padding: 20px 0;
	}
	&_description{
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		padding-bottom: 20px;
		@media screen and (max-width: 991px) {
			padding-bottom: 10px;
		}
	}
} 
.bm-service_advantages  {
	padding-bottom: 10px;
	p{ 
		font-size: 13px;
		line-height: 18px;
	}
	&-number {
		color: $bm-light-grey;
		font-family: "proxima nova semibold", sans-serif;
		font-size: 26px;
		font-weight: 400;
		line-height: 26px;
		padding: 0 10px 0 0;
	}
}

// ADDITIONAL

.bm-additional {
	&-box {
		background: $bm-box-blue;
		border-radius: 8px;
		padding: 35px 40px 20px; 
		margin-bottom: 100px;
		p {
			font-size: 14px;
			line-height: 14px;
			display:inline-block;
		}
		.btn{
			color: $bm-white;
			font-family: "proxima nova semibold", sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
			padding: 20px;
			border-radius: 30px;
			min-width: 230px;
			margin: 0 3px;
			@media screen and (max-width: 1234px) {
				padding: 15px 0;
				margin: 5px;
				min-width: 200px;
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.bm-additional_box-sm {
		text-align: center;
	}
}

.bm-additional_box-img {
	width: 175px;
	height: 34px;
	display: inline-block;

	@media screen and (max-width: 1181px) {
		transform: rotateX(180deg);
	}

}
.btn-additional-box-read {
	background-color: $bm-btn-dark-blue;
	box-shadow: 0px 0px  10px rgba(0,0,0,0.05);
	&:hover {
		background: lighten($bm-btn-dark-blue, 1%);
		color: $bm-white;
	}
	&:active, &:focus{
		background: darken($bm-btn-dark-blue, 1%);
		outline: none;
		transform: scale(.995);
		box-shadow: none;
	}
}

.btn-additional-box-order {
	background-color: $bm-btn-blight-blue;
	&:hover {
		background: lighten($bm-btn-blight-blue, 1%);
		color: $bm-white;
	}
	&:active, &:focus{
		background: darken($bm-btn-blight-blue, 1%);
		outline: none;
		transform: scale(.995);
		box-shadow: none;
	}
}
.bm-additional-box{
	&-right{
		float: right;
	}
	&-left{
		display: inline-block;
		p{
			max-width: 480px;
		}
		h6 {
			max-width: 530px;
			
		}
		@media screen and (max-width: 991px) {
			h6,p {
				max-width: 100%;
			}

		}
	}
}
