.bm-footer {
	&_top {
		background: $bm-foored-light-backgrount;
		box-shadow: 0px 0px  10px rgba(0,0,0,0.1);
		padding-bottom: 15px;
		&-img {
			margin-right: 20px;
		}
	}
	&_bottom {
		background: $bm-foored-dark-backgrount;
		
	}
}
.bm-footer_top-line {
	border-bottom: 1px solid $bm-foored-dark-backgrount;
	margin-bottom: 20px;
}
.bm-footer_top-list {

	ul{
		display: inline-block;
		margin: 0;
	}
	li {
		padding: 12px 15px 16px;
		a {
			color: $bm-white;
			font-family: "proxima nova bold", sans-serif;
			font-size: 12px;
			font-weight: 700;
			line-height: 12px;
			&:hover {
				color: $bm-white;
			}
		}
	}
	@media screen and (max-width: 575px) {
		padding-top: 10px;
		text-align: center;
	}
}
.bm-footer_top-description {
	color: $bm-footed-grey-text;
	font-size: 12px;
	line-height: 14px;	
	padding: 10px 15px 3px 0;
}
.bm-footer_top-info {
	a{
		color: $bm-footed-grey-text;
		font-family: "proxima nova regular", sans-serif;
		font-size: 12px;
		line-height: 12px;
		a:hover  {
			color: $bm-footed-grey-text;
		}
	}
	p {
		color: $bm-white;
		font-family: "proxima nova bold", sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		margin-bottom: 0;

	}
	@media screen and (max-width: 575px) {
		padding: 20px;
	}
}
.bm-footer_top-list-right{
	li {
		a {
			color: $bm-white;
			font-family: "proxima nova regular", sans-serif;
		}
		font-size: 12px;
		padding: 10px 0 12px;
		line-height: 12px;
	}
	&-header {
		font-weight: 700;
		font-family: "proxima nova bold", sans-serif;
		color: $bm-footed-grey-text;
	}
	@media screen and (max-width: 575px) {
		text-align: center;
	}
}

// BOTTOM
.bm-footer_bottom {
	color: $bm-footed-grey-text;
	font-family: "proxima nova regular", sans-serif;
	font-size: 11px;
	line-height: 15px;
	padding: 15px 0;
	p,ul {
		margin-bottom: 0;
	}
	li{
		padding: 0 15px;
		a {
			color: $bm-white;
			font-family: "proxima nova regular", sans-serif;
			font-size: 12px;
			font-weight: 400;
			line-height: 12px;
		}
	}
	@media screen and (max-width: 575px) {
		text-align: center;
		ul {
			padding: 15px;
		}
	}
}