// colors

$bm-backgrount: #f4f9fb;
$bm-box-blue: #e3f0fa;
$bm-white: #ffffff;

$bm-dark-grey: #475364;
$bm-dark-grey-submenu: #ecf0f4;
$bm-light-grey: #e7eef8;

$bm-btn-dark-blue: #5094da;
$bm-btn-blight-blue: #4ec5dc;

$bm-text-link: #6a7f8f;

$bm-foored-light-backgrount: #29313c;
$bm-foored-dark-backgrount: #232a35;
$bm-footed-grey-text:#8796aa;

body {
	background-color: #fff;	
	font-family: Arial,Helvetica,sans-serif;
}
a{
	&:focus {
		outline:none;
	}
	&:active {
		text-decoration: none;
		border-bottom: 0 !important;
	}
}

svg{
	font-family: "proxima nova semibold",sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	color: #475364;
	font-family: "proxima nova semibold",sans-serif;
	font-weight: 400;
}
h1{
	font-size: 36px;
	line-height: 36px;
	@media screen and (max-width: 991px) {
		font-size: 22px;
	}
}

h2{
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 15px;
	@media screen and (max-width: 991px) {
		font-size: 20px;
	}
}

h3{
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 13px;
	@media screen and (max-width: 991px) {
		font-size: 18px;
	}
}
h4 {
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 12px;
	@media screen and (max-width: 991px) {
		font-size: 20px;
		text-align: center;
	}
}
h5 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 12px;
	@media screen and (max-width: 991px) {
		font-size: 16px;
	}
}

h6 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 2px;
}
p {
	color: #6a7f8f;	
	font-family: "proxima nova regular",sans-serif;	
	font-weight: 400;
}
/* On screens that are 992px or less, set the background color to blue */
@media only screen and (min-width: 992px) {
	.container {
		max-width: 1240px;
	}
}



